<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ asset('/asset/css/style.css') }}">
</head>
<body>

<?php
require ('header.php');
?>

</body>

<div class="inscription">
    <div class="formulaire"><form method="post">
            <div class="titre"><h3>Ton Profil</h3></div>
            <p>Prénom : </p>
            <p>Nom : </p>
            <p>E-mail : </p>
            <p>TP : </p>
            <div class="bouton">
                <a class="modif" href="modifier.php">Modifier</a>
                <a class="deco" href="index_deco.php">Se déconnecter</a>
            </div>
        </form></div>
</div>


<footer>
    <p>&copy; 2023 EduBook.com <br><a href="contact.php">Contactez nous</a></p>
</footer>

</html>