{# /var/www/sae301_/templates/ajouter/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur la page ajouter !</h1>
    {# Tu peux ajouter ici d'autres éléments HTML ou des variables Twig selon tes besoins #}
{% endblock %}
