<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ asset('/asset/css/style.css') }}">
</head>
<body>

<?php
require ('header.php');
?>

</body>

<div class="inscription">
    <div class="formulaire"><form method="post">
            <div class="titre"><h3>Contactez-nous</h3></div>
            <div class="bloc">
                <div class="espace">

                    <input type="text" name="prenom" placeholder="Prénom"/><br/>
                </div>
                <div>

                    <input type="text" name="nom" placeholder="Nom"/><br/>
                </div>
            </div>
            <div>

                <input type="text" name="email" placeholder="E-mail"/><br/>
            </div>
            <div>
                <p>Message :</p>
                <input type="text" name="message" placeholder="..."/><br/>
            </div>
            <div class="bouton-form">
                <a href="index.php"  class="btn">Envoyer</a><br/>
            </div>
        </form></div>
</div>


<footer>
    <p>&copy; 2023 EduBook.com <br><a href="contact.php">Contactez nous</a></p>
</footer>

</html>